@model PayRoll.TSC.PayRollModel.LeaveRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LeaveRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveDaysAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveDaysAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveAllowance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveAllowance.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowanceAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowanceAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReasonForLeave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReasonForLeave)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
