@model IEnumerable<PayRoll.TSC.PayRollModel.LeaveRequest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaffNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveDaysAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveAllowance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowanceAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReasonForLeave)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveDaysAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveAllowance.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowanceAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReasonForLeave)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
